<nav class="mat-tab-nav-bar" mat-tab-nav-bar>
  <a class="link" *ngFor="let link of navLinks"
     mat-tab-link
     routerLinkActive
     #rla='routerLinkActive'
     [active]="rla.isActive"
     [routerLink]="[link.path]">
    {{link.label}}
  </a>
  <a mat-tab-link
     routerLinkActive
     [routerLink]="'/admin'"
     *ngxPermissionsOnly="'ADMIN'"
     #linkAdmin='routerLinkActive'
     [active]="linkAdmin.isActive">
    Admin panel
  </a>
  <!--<button mat-raised-button color="primary" (click)="openLogin()">Login</button>-->
  <!--<button mat-raised-button color="primary" (click)="openMakeAppointment()">Записаться на прием</button>-->
</nav>
<mat-progress-bar
  *ngIf="loading" color="primary" mode="indeterminate">
</mat-progress-bar>
<router-outlet>
</router-outlet>
