<div class="logo">
  <img src="https://linkros.ru/uploaded/companiesdata/id20171013190827_1628901193/companylogo.png?v=1507910908"
       alt="">
</div>
<div class="title">
  Добрый доктор
</div>
<mat-list class="contacts">
  <mat-list-item> +7(343) 222-22-22</mat-list-item>
  <mat-list-item> ПН - ПТ 7:30 -20:00</mat-list-item>
  <mat-list-item> Cб: 8.00 - 18:00</mat-list-item>
  <mat-list-item> ВС: 9.00 - 16:00</mat-list-item>
  <mat-list-item> Кузнецова 21</mat-list-item>
</mat-list>


<div class="description">
  Многопрофильный медицинский центр добрый доктор
  Многопрофильный медицинский центр добрый доктор
  Многопрофильный медицинский центр добрый доктор
  Многопрофильный медицинский центр добрый доктор
  Многопрофильный медицинский центр добрый доктор
  Многопрофильный медицинский центр добрый доктор
  v
  Многопрофильный медицинский центр добрый доктор
  Многопрофильный медицинский центр добрый доктор
  v
  Многопрофильный медицинский центр добрый доктор
  Многопрофильный медицинский центр добрый доктор
  Многопрофильный медицинский центр добрый доктор
  Многопрофильный медицинский центр добрый доктор
  Многопрофильный медицинский центр добрый доктор
  Многопрофильный медицинский центр добрый доктор
  v Многопрофильный медицинский центр добрый доктор
</div>
<div class="map">
</div>
<div class="actions">
  <button mat-raised-button color="primary" style="width: 300px; padding: 10px 20px;" (click)="openMakeAppointment()">
    Записаться на прием
  </button>
  <button mat-raised-button color="primary" style="width: 300px;padding: 10px 10px;" [routerLink]="'../doctors'">
    Наши
    врачи
  </button>
  <button mat-raised-button color="primary" style=" width: 150px;justify-self: flex-start" (click)="openLogin()">Войти
  </button>
</div>
<div class="firstImage"></div>
<div class="secondImage"></div>
<div class="thirdImage"></div>
<footer class="footer">  Многопрофильный медицинский центр добрый доктор
  Многопрофильный медицинский центр добрый доктор
  Многопрофильный медицинский центр добрый доктор
  Многопрофильный медицинский центр добрый доктор
  Многопрофильный медицинский центр добрый доктор
  v
  Многопрофильный медицинский центр добрый доктор
  Многопрофильный медицинский центр добрый доктор
  v
  Многопрофильный медицинский центр добрый доктор
  Многопрофильный медицинский центр добрый доктор
  Многопрофильный медицинский центр добрый доктор
  Многопрофильный медицинский центр добрый доктор
  Многопрофильный медицинский центр добрый доктор
  Многопрофильный медицинский центр добрый доктор
  v Многопрофильный медицинский центр добрый доктор  Многопрофильный медицинский центр добрый доктор
  Многопрофильный медицинский центр добрый доктор
  Многопрофильный медицинский центр добрый доктор
  Многопрофильный медицинский центр добрый доктор
  Многопрофильный медицинский центр добрый доктор
  v
  Многопрофильный медицинский центр добрый доктор
  Многопрофильный медицинский центр добрый доктор
  v
  Многопрофильный медицинский центр добрый доктор
  Многопрофильный медицинский центр добрый доктор
  Многопрофильный медицинский центр добрый доктор
  Многопрофильный медицинский центр добрый доктор
  Многопрофильный медицинский центр добрый доктор
  Многопрофильный медицинский центр добрый доктор
  v Многопрофильный медицинский центр добрый доктор</footer>
