<div class="logo">
    <img src="https://linkros.ru/uploaded/companiesdata/id20171013190827_1628901193/companylogo.png?v=1507910908"
         alt="">
</div>
<div class="title">
    Добрый доктор
</div>
<mat-list class="contacts">
    <mat-list-item> +7(343) 222-22-22</mat-list-item>
    <mat-list-item> ПН - ПТ 7:30 -20:00</mat-list-item>
    <mat-list-item> Cб: 8.00 - 18:00</mat-list-item>
    <mat-list-item> ВС: 9.00 - 16:00</mat-list-item>
    <mat-list-item> Кузнецова 21</mat-list-item>
</mat-list>


<div class="description">Европейский медицинский центр&nbsp;&mdash; частная многопрофильная клиника. Высокий заявленный
    статус обязывает обеспечить соответствующее высокое качество обслуживания во&nbsp;всех направлениях&nbsp;&mdash; в&nbsp;диагностике,
    лечении и&nbsp;пребывании. Для достижения европейских медицинских стандартов лечебный процесс в&nbsp;нашей клинике
    организован по&nbsp;принципу: &laquo;Врач идет к&nbsp;больному&raquo;, палаты оснащены на&nbsp;мировом уровне, а&nbsp;врачебный
    персонал подобран из&nbsp;лучших специалистов в&nbsp;своих направлениях.
</div>
<div class="map">
</div>
<div class="actions">
    <button mat-raised-button color="primary" style="width: 300px; padding: 10px 20px;" (click)="openMakeAppointment()">
        Записаться на прием
    </button>
    <button mat-raised-button color="primary" style="width: 300px;padding: 10px 10px;" [routerLink]="'../doctors'">
        Наши
        врачи
    </button>
    <button mat-raised-button color="primary" style=" width: 150px;justify-self: flex-start" (click)="openLogin()">Войти
    </button>
</div>
<div class="firstImage"></div>
<div class="secondImage"></div>
<div class="thirdImage"></div>
<footer class="footer"> Современная клиника&nbsp;&mdash; это сложнейший комплекс, включающий в&nbsp;себя уникальные
    проектные решения, связанные в&nbsp;первую очередь с&nbsp;гарантированной безопасностью и&nbsp;комфортным режимом
    пребывания клиента в&nbsp;учреждении. Наш медицинский центр изначально спроектирован и&nbsp;построен по&nbsp;такому&nbsp;же
    принципу, как &laquo;Умный дом&raquo;, по&nbsp;аналогии назовем его &laquo;Умная больница&raquo;, с&nbsp;учетом
    специфики медицинского заведения. Подрядчиком выступила крупная немецкая компания, построившая ряд клиник в&nbsp;Германии,
    Израиле и&nbsp;Швейцарии. Европейский медицинский центр &laquo;УГМК-здоровье&raquo;, являясь самым последним из&nbsp;построенных,
    учитывает весь предыдущий опыт в&nbsp;проектировании и&nbsp;строительстве подобных клиник.
</footer>
