:host {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  margin: auto;
  width: 100%;
}

.field {
  display: flex;
  width: 800px;
  justify-content: space-between;
  margin: auto;
}

.field label {
  display: flex;
  width: 200px;
  justify-content: center;
  align-items: center;
}

.field mat-form-field {
  width: 100%;
  margin: auto;
}
.wrapper-button{
  width: 100%;
  display: flex;
  justify-content: center;
}
.form-button{
  margin: auto;
}
h4{
  justify-content: center;
  display: flex;
}
.example-margin {
  margin: 0 10px;
}
.field-checkbox{
  margin: auto;
  width: 800px;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}
